.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-size: 0.9rem;
}

html, body {
  overflow-x: hidden !important;
  color:white;
}

.hero-image{
  filter:blur(8px);
  z-index:0
}
.navbar .nav-link {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.active-link {
  text-decoration: underline;
  text-decoration-color: #FF7757;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.btn-signup {
  background-color: #FF7757;
  color: white;
  border-radius: 10px;
}


.btn-signup:hover {
  background-color: #e66a4f;
  color: white;
}

.book-now-btn {
  background-color: #FF7757;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
  border: none;
  margin: 0px;
  font-size: 1rem;
  cursor: pointer;
}

@media(min-width:1400px){
  .pad{
    padding-left: 50px;
    padding-right:50px
  }
}

select{
  font-family: 'Times New Roman', Times, serif;
}

input::placeholder {
  font-family: 'Times New Roman', Times, serif;
}

.booking{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}




.book-now-con{
height:100%;
width:12%;
display:flex;
justify-content: center;
align-items:center;
padding-left:-5rem;
  border-radius: 0 1rem 1rem 0 ;
  background-color: #FF7757;
  color:white !important;

}

.book-now-con:hover{
  background-color: #e66a4f;
  color: white;
}

.underline-dark {
  border-bottom: 1px solid #6e6d6d !important;
  color:#6e6d6d
}

@media (max-width: 380px){
  .book-now{
       border-radius: 0 0 1rem 1rem;
} 
.book-now-con{
  border-radius: 0 0 1rem 1rem ;
}
.booking{
  border-radius: 1rem ;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .underline-dark {
    font-size: 0.85rem;
  }

  .booking input, .booking select {
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .landing-container {
    height: auto !important;
  }
}
.logo-toggle-gap{
  gap:1rem ;
  display:flex;
  justify-content:space-between;
}

.landing-title{
   padding-top: 5rem;
    margin-left: 1rem;
    width:95%
}
.Navbar{
  background-color: transparent;
}

.nav-list{
  display:flex;
}

.nav-list ul.navbar-nav {
  align-items: flex-start !important;  /* forces left alignment */
  text-align: left !important;
  padding-left: 1.5rem;                /* spacing */
  gap: 1rem;                           /* space between items */
}

/* .Box{
  backdrop-filter: blur(8px); 
} */

.open{
background-color: white;
color:black;
height:100vw;
width:75%;
display:flex;
flex-direction:column;
padding:2rem
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -75vw; /* hidden */
  width: 100vw;
  height: 100%;
  background: white;
  transition: right 0.3s ease-in-out;
  z-index: 999; /* ABOVE EVERYTHING */
  display: flex;
  flex-direction: column;
  gap:5rem;
  padding-top: 70px; 
}

.mobile-menu.open {
  right: 0; /* slide into view */

}

.hero-bg {
  position:relative;     /* stays fixed on screen */
  width: 100%;
  height: 102vh;
  object-fit: cover;   /* keeps image full-screen */
  z-index: 0;    
  filter:blur(8px);
        /* lowest layer */
}

/* PUSH BUTTONS DOWN */
.menu-buttons {
  margin-top: auto;         /* pushes buttons to bottom */
  display: flex;
  justify-content:space-between
}

/* Button styling */
.login-btn {
  background: transparent;
  color: black;
  border: 2px solid #FF7757;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: 600;
}

.signup-btn {
  background: #FF7757;
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: 600;
}

.closing{
  font-size:2rem;
}


